body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header {
    text-align: center;
    font-size:2rem;
    color: dimgray;
    width: 100%;
}

.gameboard-container {
    box-sizing: border-box;
    margin: 30px;
    padding: 10px;
    border: 1px solid lightgrey;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.square {
    /* background-color: whitesmoke; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 150px;
    height: 150px;
}